body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(90, 218, 240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.input-container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.current-weather, .forecast {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

#weatherData {
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-item {
    text-align: center;
    width: 14%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.chart-item h3 {
    margin: 0;
    font-size: 14px;
}

.chart-item p {
    margin: 5px 0;
    font-size: 16px;
}
